<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346054753864-7dftncf5u03rv042lte5p193uf68cfcf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346054753864-7dftncf5u03rv042lte5p193uf68cfcf</string>
	<key>API_KEY</key>
	<string>AIzaSyA9IHUWTgOC5ZJwJ7U4UuuT8GiK4iGa5ps</string>
	<key>GCM_SENDER_ID</key>
	<string>346054753864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reklamaMaster</string>
	<key>PROJECT_ID</key>
	<string>reklama-master-2de84</string>
	<key>STORAGE_BUCKET</key>
	<string>reklama-master-2de84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346054753864:ios:29cd0bfb4da3cc3c99a27d</string>
</dict>
</plist>